@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF1EF;
}

header {
    background-color: #5E6572;
    font-family: 'Roboto', sans-serif;
    color: white;

    padding: 10px 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15em;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header nav a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.05em;
}
#principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#parte-texto {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: justify;
    justify-content: center;
    font-family: 'Roboto';
}

#parte-texto h2 {
    text-transform: uppercase;
}

#principal img {
    width: 650px;
    height: 380px;
}

#principal h2 {
    font-family: 'Roboto';
    color: #1C2321;
}


h3 {
    font-family: 'Roboto';
    color: #1C2321;
    padding-top: 15px;

    display: flex;
    justify-content: center;
    
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.projeto {
    background-color: #D9D9D9;
    width: 250px;
    height: 140px;
}

.projeto img {
    width: 250px;
    height: 140px;
}